&i2c1 {
    #address-cells = <1>;
    #size-cells = <0>;

    deser0: ti960@30 {
        compatible = "bst,ti-deser-hub";
        type = "ti960";
        ctl-mode = "fad-lis";
        reg = <0x30>;
        i2c-port = <0>;
        csi2-port = <1>;
        lane-speed = <1600>;
    };

    deser1: ti960@32 {
        compatible = "bst,ti-deser-hub";
        type = "ti960";
        ctl-mode = "fad-lis";
        reg = <0x32>;
        i2c-port = <0>;
        csi2-port = <1>;
        lane-speed = <1600>;
    };

    deser2: ti960@34 {
        compatible = "bst,ti-deser-hub";
        type = "ti960";
        ctl-mode = "fad-lis";
        reg = <0x34>;
        i2c-port = <0>;
        csi2-port = <1>;
        lane-speed = <1600>;
    };

    deser3: ti960@36 {
        compatible = "bst,ti-deser-hub";
        type = "ti960";
        ctl-mode = "fad-lis";
        reg = <0x36>;
        i2c-port = <0>;
        csi2-port = <1>;
        lane-speed = <1600>;
    };
};

#include "../common/a1000b-deser.dtsi"
