/*
  imx424 raw    1920x1080
  view0:        1920x1080
  view1:        1280x720
  view2:        320x180
*/
compatible = "bst,imx424";
type = "imx424";
sensor-id = <0x1a>;
data-type = <0x2d>;
fv-polarity-low = <0>;
fpd3-mode = "csi-2";
serializer = "ti953";

algo-offline = "imx424offline/imx424_raw14_sy_h60_offline_AlgoParam.bin";
iq-offline = "imx424offline/imx424_raw14_sy_h60_IqParam.bin";
algo-online = "imx424offline/imx424_raw14_sy_h60_offline_AlgoParam.bin";
iq-online = "imx424offline/imx424_raw14_sy_h60_IqParam.bin";
pwl-lut = "imx424offline/imx424_raw14_sy_h60_pwl_lut.bin";

hdr-stagger-en = <0xa1>;
exp-num = <3>;
isp-pwl-infomat = <15>;
dvp-data-type = <0x2d>;
vin-data-type = <0x2c>;
size = <3840 1928>;
dvp-dummy = <0xabcd>;

view0-fmt = <1>;
view0-size = <1280 720>;

view1-fmt = <1>;
view1-size = <1920 1080>;

view2-fmt = <1>;
view2-size = <320 180>;

pdns-mode = <0>;
pdns-input-view = <0>;

hblank = <0>;
isp-top-crop = <0>;
isp-bot-crop = <8>;
isp-lef-crop = <0>;
isp-rig-crop = <0>;
