/*
  ar0143-yuv    1280x720
  view0:        1280x720
*/
compatible = "bst,ox08b-isp";
sensor-id = <0x48>;
data-type = <0x5e>;
fv-polarity-low = <0>;
fpd3-mode = "uyyv";
serializer = "max9295";

size = <3840 2160>;
dvp-dummy = <0xaaa0>;

view0-fmt = <1>;
view0-size = <1920 1080>;


view1-fmt = <1>;
view1-size = <3840 2160>;

pdns-mode = <0>;
pdns-input-view = <0>;
hblank = <0x300>;
tri-gpio = <1>;

