        /*
  imx424 raw    1920x1080
  view0:        1920x1080
  view1:        1280x720
  view2:        320x180
*/
compatible = "bst,ox3c";
type = "ox3c";
sensor-id = <0x36>;
data-type = <0x2d>;
fv-polarity-low = <0>;
fpd3-mode = "csi-2";
serializer = "max96717f";

algo-offline = "ox3coffline/ox3c_raw14_sy_h190_AlgoParam_maxieye_hw_pwl.bin";
iq-offline = "ox3coffline/ox3c_raw14_sy_h190_IqParam_maxieye_hw_pwl.bin";
algo-online = "ox3coffline/ox3c_raw14_sy_h190_AlgoParam_maxieye_hw_pwl.bin";
iq-online = "ox3coffline/ox3c_raw14_sy_h190_IqParam_maxieye_hw_pwl.bin";
//pwl-lut = "ox3coffline/ox3c_raw14_sy_h60_pwl_lut.bin";

hdr-stagger-en = <0x81>;//offline
exp-num = <1>;
isp-pwl-infomat = <15>;//hw pwl
dvp-data-type = <0x2d>;
vin-data-type = <0x2d>;
size = <1920 1286>;
dvp-dummy = <0xabcd>;
view0-fmt = <1>;
view0-size = <1280 720>;

view1-fmt = <1>;
view1-size = <1920 1080>;

view2-fmt = <5>;
view2-size = <320 180>;

pdns-mode = <0>;
pdns-input-view = <0>;
hblank = <0x00000000>;
isp-top-crop = <100>;
isp-bot-crop = <106>;
isp-lef-crop = <0x0000>;
isp-rig-crop = <0x0000>;

tri-gpio = <0>;
maxim,rx_rate = <6>;
serial-i2c = <0x62>;
maxim,link-mode = "GMSL2";